process {

    withName: 'TRIMMOMATIC_PARALLEL_NF:TRIMMOMATIC_PE' {
        ext.args   = "LEADING:30 TRAILING:30 SLIDINGWINDOW:4:20 MINLEN:35"
        publishDir = [
            [
                path: { "${params.outdir}/trimmomatic_pe/${meta.id}" },
                mode: 'copy',
                pattern: "*_out.log"
            ],
            [
                path: { "${params.outdir}/trimmomatic_pe/${meta.id}" },
                mode: 'copy',
                pattern: "*.fastq.gz",
                enabled: params.save_clipped_reads
            ]
        ]
        ext.prefix = { "${meta.id}_run${meta.run}_trimmomatic_pe" }
        tag        = { "${meta.id}_run${meta.run}" }
    }

    withName: 'TRIMMOMATIC_PARALLEL_NF:FASTQC_PE' {
        publishDir = [
            path: { "${params.outdir}/trimmomatic_pe/${meta.id}" },
            mode: 'copy',
            pattern: '*.html'
        ]

        ext.prefix = { "${meta.id}_run${meta.run}_trimmomatic_pe" }
        tag        = { "${meta.id}_run${meta.run}" }
    }

    withName: 'TRIMMOMATIC_PARALLEL_NF:TRIMMOMATIC' {
        ext.args   = "LEADING:30 TRAILING:30 SLIDINGWINDOW:4:20 MINLEN:35"
        publishDir = [
            [
                path: { "${params.outdir}/trimmomatic/${meta.id}" },
                mode: 'copy',
                pattern: "*_out.log"
            ],
            [
                path: { "${params.outdir}/trimmomatic/${meta.id}" },
                mode: 'copy',
                pattern: "*.fastq.gz",
                enabled: params.save_clipped_reads
            ]
        ]
        ext.prefix = { "${meta.id}_run${meta.run}_trimmomatic" }
        tag        = { "${meta.id}_run${meta.run}" }
    }

    withName: 'TRIMMOMATIC_PARALLEL_NF:FASTQC_ORIGINAL' {
        publishDir = [
            path: { "${params.outdir}/trimmomatic/${meta.id}" },
            mode: 'copy',
            pattern: '*.html'
        ]

        ext.prefix = { "${meta.id}_run${meta.run}_trimmomatic" }
        tag        = { "${meta.id}_run${meta.run}" }
    }
}